{% extends "base.html" %}
{% block aditional_nav_items %}
    <li class="nav-item nav-item-left" >
        <a class="nav-link disabled disabled-nav-link">Financies</a>
    </li>
{% endblock %}
{% block content %}
<style>
    .finance-buttons{
        border-radius: 0;
        width: 40px;
        margin-left: 5px;
    }
        /*
        position: absolute;
        top: 100px;
        left: 200px;
    }
    .row{
        position: relative;
    }
        */
</style>
<div class="jumbotron">
    <h1 style="text-align: center;">Your Financies</h1>
    <h4 style="text-align: center;"><input type="text" name="current-balance" value="{{Money.current_balance}}"
        style="text-align: center;"></h4>
    <hr class="my-4">
    <form method="post">
        <div class="input-group">
            {% csrf_token %}
            <div class="row" style="display: flex; padding: 5px ;">
                <input type="text" name="new-finance-part">
                <button class="btn btn-success finance-buttons" name="+">+</button>
                <button class="btn btn-danger finance-buttons" name="-">-</button>
            </div>    
        </div>
    </form>
</div>
{% endblock %}
